@import "../../scss/colors.scss";
$small: 320px;
$large: 720px;

.gallery-container {
  padding: 0.9375rem 2%;
}
.gallery-container h1 {
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 6.5vw;
  font-weight: lighter;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $small) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: $small + 1) and (max-width: $large - 1) {
    grid-template-columns: repeat(2, 1fr);
  }

  // When above our large breakpoint, make sure we have 3 columns
  @media screen and (min-width: $large) {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    width: 100%;
    border: 5px solid #fff;
  }
}
.gallery-grid div {
  position: relative;
  cursor: pointer;
  &:before,
  &:after {
    transition: 0.3s opacity ease;
    opacity: 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(#222, 0.5);
    display: block;
  }
  &:hover {
    cursor: zoom-in;
    &:before,
    &:after {
      opacity: 1;
      transition: 0.3s opacity ease;
    }
  }
}

.modal {
  position: fixed;
  z-index: 999;
  width: 50%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  @media screen and (max-width: $small) {
    width: 95%;
  }
  @media screen and (min-width: $small + 1) and (max-width: $large - 1) {
    width: 80%;
  }
  @media screen and (min-width: $large) {
    width: 60%;
  }
  img {
    width: 100%;
    border: 5px solid #fff;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.modal-controls {
  position: absolute;
  display: inline;
  color: $black;
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}
.modal-body .modal-close {
  right: 0;
  top: 0;
  border-radius: 0 0 0 5px;
}
.modal-body .modal-next,
.modal-body .modal-prev {
  right: 0;
  top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px;
}
.modal-body .modal-prev {
  left: 0;
  right: auto;
  border-radius: 0 5px 5px 0;
}
.modal-body {
  position: relative;
}

.gallery-context {
  width: 100%;
  background: $white;
  margin-top: -6px;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
}

.gallery-context-attribution {
  width: 100%;
  text-align: center;
  color: lighten($black, 15%);
  padding-bottom: 8px;
  a {
    display: inline;
    font-size: 1em;
    color: $black;
    &:visited {
      color: $black;
    }
  }
}
